polars~=1.38.0
numpy~=1.26.4
pandas~=2.3.3
plotly~=6.5.2
keras~=2.15.0
dotenv~=0.9.9
python-dotenv~=1.2.1
ccxt~=4.5.36
tqdm~=4.67.3
pyprojroot~=0.3.0
colorlog~=6.10.1
streamlit~=1.54.0
streamlit_option_menu
pyotp~=2.9.0
watchdog~=6.0.0
scikit-learn~=1.8.0
numba~=0.63.1
websockets~=16.0
rich~=14.3.2